---
import Layout from '@/layouts/Layout.astro';
---
<Layout>
  <section class="sobre">
    <h1>Actividades</h1>
    <p>
      Talleres, visitas guiadas, charlas y eventos para todas las edades. Muy pronto, toda la programación estará disponible en esta sección.
    </p>
  </section>
</Layout>
