---
import Layout from '@/layouts/Layout.astro';
---
<Layout>
  <section class="sobre">
    <h1>Contacto</h1>
    <p>
      ¿Tienes dudas, sugerencias o quieres concertar una visita? Escríbenos a <a href="mailto:info@museoetnologico.es">info@museoetnologico.es</a> o llámanos al <a href="tel:+34950000000">950 000 000</a>.
    </p>
  </section>
</Layout>
