---
import Layout from '@/layouts/Layout.astro';
---
<Layout>
  <section class="sobre">
    <h1>El Museo</h1>
    <p>
      Descubre la historia, misión y visión del Museo Etnológico de Almodóvar del Río. Muy pronto, aquí encontrarás información detallada sobre nuestras salas, colecciones y el valor cultural que aportamos a la comunidad.
    </p>
  </section>
</Layout>
